<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>あ</key>
	<dict>
		<key>x</key>
		<integer>881</integer>
		<key>y</key>
		<integer>181</integer>
		<key>width</key>
		<integer>83</integer>
		<key>height</key>
		<integer>83</integer>
	</dict>
	<key>い</key>
	<dict>
		<key>x</key>
		<integer>881</integer>
		<key>y</key>
		<integer>267</integer>
		<key>width</key>
		<integer>83</integer>
		<key>height</key>
		<integer>83</integer>
	</dict>
	<key>う</key>
	<dict>
		<key>x</key>
		<integer>881</integer>
		<key>y</key>
		<integer>353</integer>
		<key>width</key>
		<integer>83</integer>
		<key>height</key>
		<integer>83</integer>
	</dict>
	<key>え</key>
	<dict>
		<key>x</key>
		<integer>881</integer>
		<key>y</key>
		<integer>438</integer>
		<key>width</key>
		<integer>83</integer>
		<key>height</key>
		<integer>83</integer>
	</dict>
	<key>お</key>
	<dict>
		<key>x</key>
		<integer>881</integer>
		<key>y</key>
		<integer>524</integer>
		<key>width</key>
		<integer>83</integer>
		<key>height</key>
		<integer>83</integer>
	</dict>
	<key>か</key>
	<dict>
		<key>x</key>
		<integer>795</integer>
		<key>y</key>
		<integer>181</integer>
		<key>width</key>
		<integer>83</integer>
		<key>height</key>
		<integer>83</integer>
	</dict>
    <key>き</key>
    <dict>
        <key>x</key>
        <integer>795</integer>
        <key>y</key>
        <integer>267</integer>
        <key>width</key>
        <integer>83</integer>
        <key>height</key>
        <integer>83</integer>
    </dict>
    <key>く</key>
    <dict>
        <key>x</key>
        <integer>795</integer>
        <key>y</key>
        <integer>353</integer>
        <key>width</key>
        <integer>83</integer>
        <key>height</key>
        <integer>83</integer>
    </dict>
    <key>け</key>
    <dict>
        <key>x</key>
        <integer>795</integer>
        <key>y</key>
        <integer>438</integer>
        <key>width</key>
        <integer>83</integer>
        <key>height</key>
        <integer>83</integer>
    </dict>
    <key>こ</key>
    <dict>
        <key>x</key>
        <integer>795</integer>
        <key>y</key>
        <integer>524</integer>
        <key>width</key>
        <integer>83</integer>
        <key>height</key>
        <integer>83</integer>
    </dict>
    <key>さ</key>
    <dict>
        <key>x</key>
        <integer>710</integer>
        <key>y</key>
        <integer>181</integer>
        <key>width</key>
        <integer>83</integer>
        <key>height</key>
        <integer>83</integer>
    </dict>
    <key>し</key>
    <dict>
        <key>x</key>
        <integer>710</integer>
        <key>y</key>
        <integer>267</integer>
        <key>width</key>
        <integer>83</integer>
        <key>height</key>
        <integer>83</integer>
    </dict>
    <key>す</key>
    <dict>
        <key>x</key>
        <integer>710</integer>
        <key>y</key>
        <integer>353</integer>
        <key>width</key>
        <integer>83</integer>
        <key>height</key>
        <integer>83</integer>
    </dict>
    <key>せ</key>
    <dict>
        <key>x</key>
        <integer>710</integer>
        <key>y</key>
        <integer>438</integer>
        <key>width</key>
        <integer>83</integer>
        <key>height</key>
        <integer>83</integer>
    </dict>
    <key>そ</key>
    <dict>
        <key>x</key>
        <integer>710</integer>
        <key>y</key>
        <integer>524</integer>
        <key>width</key>
        <integer>83</integer>
        <key>height</key>
        <integer>83</integer>
    </dict>
    <key>た</key>
    <dict>
        <key>x</key>
        <integer>628</integer>
        <key>y</key>
        <integer>181</integer>
        <key>width</key>
        <integer>83</integer>
        <key>height</key>
        <integer>83</integer>
    </dict>
    <key>ち</key>
    <dict>
        <key>x</key>
        <integer>628</integer>
        <key>y</key>
        <integer>267</integer>
        <key>width</key>
        <integer>83</integer>
        <key>height</key>
        <integer>83</integer>
    </dict>
    <key>つ</key>
    <dict>
        <key>x</key>
        <integer>628</integer>
        <key>y</key>
        <integer>353</integer>
        <key>width</key>
        <integer>83</integer>
        <key>height</key>
        <integer>83</integer>
    </dict>
    <key>て</key>
    <dict>
        <key>x</key>
        <integer>628</integer>
        <key>y</key>
        <integer>438</integer>
        <key>width</key>
        <integer>83</integer>
        <key>height</key>
        <integer>83</integer>
    </dict>
    <key>と</key>
    <dict>
        <key>x</key>
        <integer>628</integer>
        <key>y</key>
        <integer>524</integer>
        <key>width</key>
        <integer>83</integer>
        <key>height</key>
        <integer>83</integer>
    </dict>
    <key>な</key>
    <dict>
        <key>x</key>
        <integer>544</integer>
        <key>y</key>
        <integer>181</integer>
        <key>width</key>
        <integer>83</integer>
        <key>height</key>
        <integer>83</integer>
    </dict>
    <key>に</key>
    <dict>
        <key>x</key>
        <integer>544</integer>
        <key>y</key>
        <integer>267</integer>
        <key>width</key>
        <integer>83</integer>
        <key>height</key>
        <integer>83</integer>
    </dict>
    <key>ぬ</key>
    <dict>
        <key>x</key>
        <integer>544</integer>
        <key>y</key>
        <integer>353</integer>
        <key>width</key>
        <integer>83</integer>
        <key>height</key>
        <integer>83</integer>
    </dict>
    <key>ね</key>
    <dict>
        <key>x</key>
        <integer>544</integer>
        <key>y</key>
        <integer>438</integer>
        <key>width</key>
        <integer>83</integer>
        <key>height</key>
        <integer>83</integer>
    </dict>
    <key>の</key>
    <dict>
        <key>x</key>
        <integer>544</integer>
        <key>y</key>
        <integer>524</integer>
        <key>width</key>
        <integer>83</integer>
        <key>height</key>
        <integer>83</integer>
    </dict>
    <key>は</key>
    <dict>
        <key>x</key>
        <integer>462</integer>
        <key>y</key>
        <integer>181</integer>
        <key>width</key>
        <integer>83</integer>
        <key>height</key>
        <integer>83</integer>
    </dict>
    <key>ひ</key>
    <dict>
        <key>x</key>
        <integer>462</integer>
        <key>y</key>
        <integer>267</integer>
        <key>width</key>
        <integer>83</integer>
        <key>height</key>
        <integer>83</integer>
    </dict>
    <key>ふ</key>
    <dict>
        <key>x</key>
        <integer>462</integer>
        <key>y</key>
        <integer>353</integer>
        <key>width</key>
        <integer>83</integer>
        <key>height</key>
        <integer>83</integer>
    </dict>
    <key>へ</key>
    <dict>
        <key>x</key>
        <integer>462</integer>
        <key>y</key>
        <integer>438</integer>
        <key>width</key>
        <integer>83</integer>
        <key>height</key>
        <integer>83</integer>
    </dict>
    <key>ほ</key>
    <dict>
        <key>x</key>
        <integer>462</integer>
        <key>y</key>
        <integer>524</integer>
        <key>width</key>
        <integer>83</integer>
        <key>height</key>
        <integer>83</integer>
    </dict>
    
    <key>ま</key>
    <dict>
        <key>x</key>
        <integer>380</integer>
        <key>y</key>
        <integer>181</integer>
        <key>width</key>
        <integer>83</integer>
        <key>height</key>
        <integer>83</integer>
    </dict>
    <key>み</key>
    <dict>
        <key>x</key>
        <integer>380</integer>
        <key>y</key>
        <integer>267</integer>
        <key>width</key>
        <integer>83</integer>
        <key>height</key>
        <integer>83</integer>
    </dict>
    <key>む</key>
    <dict>
        <key>x</key>
        <integer>380</integer>
        <key>y</key>
        <integer>353</integer>
        <key>width</key>
        <integer>83</integer>
        <key>height</key>
        <integer>83</integer>
    </dict>
    <key>め</key>
    <dict>
        <key>x</key>
        <integer>380</integer>
        <key>y</key>
        <integer>438</integer>
        <key>width</key>
        <integer>83</integer>
        <key>height</key>
        <integer>83</integer>
    </dict>
    <key>も</key>
    <dict>
        <key>x</key>
        <integer>380</integer>
        <key>y</key>
        <integer>524</integer>
        <key>width</key>
        <integer>83</integer>
        <key>height</key>
        <integer>83</integer>
    </dict>
    
    <key>や</key>
    <dict>
        <key>x</key>
        <integer>296</integer>
        <key>y</key>
        <integer>181</integer>
        <key>width</key>
        <integer>83</integer>
        <key>height</key>
        <integer>83</integer>
    </dict>
    <key>ゆ</key>
    <dict>
        <key>x</key>
        <integer>296</integer>
        <key>y</key>
        <integer>353</integer>
        <key>width</key>
        <integer>83</integer>
        <key>height</key>
        <integer>83</integer>
    </dict>
    <key>よ</key>
    <dict>
        <key>x</key>
        <integer>296</integer>
        <key>y</key>
        <integer>524</integer>
        <key>width</key>
        <integer>83</integer>
        <key>height</key>
        <integer>83</integer>
    </dict>
    
    <key>ら</key>
    <dict>
        <key>x</key>
        <integer>225</integer>
        <key>y</key>
        <integer>181</integer>
        <key>width</key>
        <integer>70</integer>
        <key>height</key>
        <integer>83</integer>
    </dict>
    <key>り</key>
    <dict>
        <key>x</key>
        <integer>225</integer>
        <key>y</key>
        <integer>267</integer>
        <key>width</key>
        <integer>70</integer>
        <key>height</key>
        <integer>83</integer>
    </dict>
    <key>る</key>
    <dict>
        <key>x</key>
        <integer>225</integer>
        <key>y</key>
        <integer>353</integer>
        <key>width</key>
        <integer>70</integer>
        <key>height</key>
        <integer>83</integer>
    </dict>
    <key>れ</key>
    <dict>
        <key>x</key>
        <integer>225</integer>
        <key>y</key>
        <integer>438</integer>
        <key>width</key>
        <integer>70</integer>
        <key>height</key>
        <integer>83</integer>
    </dict>
    <key>ろ</key>
    <dict>
        <key>x</key>
        <integer>225</integer>
        <key>y</key>
        <integer>524</integer>
        <key>width</key>
        <integer>70</integer>
        <key>height</key>
        <integer>83</integer>
    </dict>
    <key>わ</key>
    <dict>
        <key>x</key>
        <integer>150</integer>
        <key>y</key>
        <integer>181</integer>
        <key>width</key>
        <integer>75</integer>
        <key>height</key>
        <integer>83</integer>
    </dict>
    <key>を</key>
    <dict>
        <key>x</key>
        <integer>150</integer>
        <key>y</key>
        <integer>524</integer>
        <key>width</key>
        <integer>75</integer>
        <key>height</key>
        <integer>83</integer>
    </dict>
    <key>ん</key>
    <dict>
        <key>x</key>
        <integer>70</integer>
        <key>y</key>
        <integer>181</integer>
        <key>width</key>
        <integer>80</integer>
        <key>height</key>
        <integer>83</integer>
    </dict>
    <key>Y</key>
    <dict>
        <key>x</key>
        <integer>146</integer>
        <key>y</key>
        <integer>65</integer>
        <key>width</key>
        <integer>188</integer>
        <key>height</key>
        <integer>76</integer>
    </dict>
    <key>N</key>
    <dict>
        <key>x</key>
        <integer>677</integer>
        <key>y</key>
        <integer>65</integer>
        <key>width</key>
        <integer>221</integer>
        <key>height</key>
        <integer>86</integer>
    </dict>
    
    <key>1</key>
    <dict>
        <key>x</key>
        <integer>111</integer>
        <key>y</key>
        <integer>618</integer>
        <key>width</key>
        <integer>75</integer>
        <key>height</key>
        <integer>85</integer>
    </dict>
    
    <key>2</key>
    <dict>
        <key>x</key>
        <integer>191</integer>
        <key>y</key>
        <integer>618</integer>
        <key>width</key>
        <integer>75</integer>
        <key>height</key>
        <integer>85</integer>
    </dict>
    
    <key>3</key>
    <dict>
        <key>x</key>
        <integer>271</integer>
        <key>y</key>
        <integer>618</integer>
        <key>width</key>
        <integer>75</integer>
        <key>height</key>
        <integer>85</integer>
    </dict>
    
    <key>4</key>
    <dict>
        <key>x</key>
        <integer>351</integer>
        <key>y</key>
        <integer>618</integer>
        <key>width</key>
        <integer>75</integer>
        <key>height</key>
        <integer>85</integer>
    </dict>
    
    <key>5</key>
    <dict>
        <key>x</key>
        <integer>431</integer>
        <key>y</key>
        <integer>618</integer>
        <key>width</key>
        <integer>75</integer>
        <key>height</key>
        <integer>85</integer>
    </dict>
    <key>6</key>
    <dict>
        <key>x</key>
        <integer>511</integer>
        <key>y</key>
        <integer>618</integer>
        <key>width</key>
        <integer>75</integer>
        <key>height</key>
        <integer>85</integer>
    </dict>
    <key>7</key>
    <dict>
        <key>x</key>
        <integer>591</integer>
        <key>y</key>
        <integer>618</integer>
        <key>width</key>
        <integer>75</integer>
        <key>height</key>
        <integer>85</integer>
    </dict>
    <key>8</key>
    <dict>
        <key>x</key>
        <integer>671</integer>
        <key>y</key>
        <integer>618</integer>
        <key>width</key>
        <integer>75</integer>
        <key>height</key>
        <integer>85</integer>
    </dict>
    <key>9</key>
    <dict>
        <key>x</key>
        <integer>751</integer>
        <key>y</key>
        <integer>618</integer>
        <key>width</key>
        <integer>75</integer>
        <key>height</key>
        <integer>85</integer>
    </dict>
    <key>0</key>
    <dict>
        <key>x</key>
        <integer>841</integer>
        <key>y</key>
        <integer>618</integer>
        <key>width</key>
        <integer>75</integer>
        <key>height</key>
        <integer>85</integer>
    </dict>
    
    <key>T</key>
    <dict>
        <key>x</key>
        <integer>430</integer>
        <key>y</key>
        <integer>38</integer>
        <key>width</key>
        <integer>162</integer>
        <key>height</key>
        <integer>127</integer>
    </dict>
    
</dict>
</plist>
