<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>あ</key>
	<dict>
		<key>x</key>
		<integer>30</integer>
		<key>y</key>
		<integer>30</integer>
		<key>width</key>
		<integer>30</integer>
		<key>height</key>
		<integer>30</integer>
	</dict>
	<key>い</key>
	<dict>
		<key>x</key>
		<integer>500</integer>
		<key>y</key>
		<integer>500</integer>
		<key>width</key>
		<integer>30</integer>
		<key>height</key>
		<integer>30</integer>
	</dict>
</dict>
</plist>
